.header {
  height: 15%;
}

.SearchBarDiv {
  position: relative;
  padding-top: 1.5rem;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SearchStudent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SearchBtn {
  width: 50%;
  height: 100%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  border: none;
}

.SearchBarDiv .SearchBtn input[type="submit"] {
  height: 40px;
  width: 30%;
  background-color: aqua;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
}

.SearchBarDiv .SearchBtn :hover {
  box-shadow: 0px 0px 15px 2px lightblue;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  /* hides the scroll bar*/
  width: 0.2em;
  background-color: transparent;
}

.card {
  position: relative;
  overflow: auto;
  /* overflow-y: hidden; */
  margin-top: 2rem;
  max-height: 60vh;
  min-height: auto;
  width: 95%;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.individualCard {
  height: 8rem;
  width: 95%;
  margin: 1rem 0rem;
  border-radius: 20px;
  background-color: #e48888;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.individualCard .imageSec #img-profile {
  border-radius: 0;
  object-fit: cover;
}

.imageSec {
  height: 7em;
  width: 7rem;
  margin: 1%;
  overflow: hidden;
  border-radius: 20px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameId {
  height: 90%;
  width: 20%;
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

span {
  font-weight: 500;
  font-size: 20px;
}

.option {
  height: 90%;
  width: 65%;
  margin: 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.option button {
  background-color: aqua;
  border-radius: 15px;
  width: 7rem;
  font-weight: 500;
}

.option button:hover {
  box-shadow: 0px 0px 15px 2px rgb(0, 173, 231);
}
